[submodule "hf-core-drivers"]
	path = hf-core-drivers
	url = https://github.com/hardfoc/hf-core-drivers.git
[submodule "hf-core-utils"]
	path = hf-core-utils
	url = https://github.com/hardfoc/hf-core-utils.git
[submodule "examples/esp32/scripts"]
	path = examples/esp32/scripts
	url = https://github.com/N3b3x/hf-espidf-project-tools.git
